@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

#cont {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.art {
    display: flex;
    justify-content: center;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}

.comm {
    font-family: 'Sacramento', cursive;
    font-size: 20px;
}