@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.header {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Sacramento', cursive;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: rgb(184, 182, 169);
    opacity: 0.66;
}

.header #drop {
    display: flex;
    font-size: 35px;
}

.header ul li {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.header ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


#form  {
    display: inline-block;
    margin-top: 2%;
    margin-left: 40%;
}

#form .inp {
    display: flex;
}

#form .inp input {
    border: 1px solid white;
    border-radius: 15%;
    margin-right: 5px;
    text-align: center;
}

#form .inp2 input {
    margin-left: 35%;
    margin-top: 3%;
    border: 2px solid black;
    border-radius: 80%;
    padding: 2%;
}

#form p {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin-left: 30%;
}

#form a {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}
.menu1{
    position: relative;
}
.menuhide{
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 55%;
    left: 30%;

}

.menu1:hover .menuhide {
    visibility: visible;
}

ul li a:hover {
    color: white;
}
